<form action="{{ url_for('addquestion') }}" method="POST">
  <label for="question">Question:</label><br>
  <input type="text" id="question" name="question"><br>
  <label for="answer">Answer:</label><br>
  <input type="text" id="answer" name="answer"><br>
  <label for="topic">Topic:</label><br>
  <input type="text" id="topic" name="topic"><br>
  <label for="difficulty">Difficulty:</label><br>
  <input type="text" id="difficulty" name="difficulty"><br><br>
  <input type="submit" value="Submit">
</form>